/*****
Général
*****/

body{
    font-family: 'Arial';
}

/****
Header
*****/

header{
    background: #CDCDCD;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 5000;
    
}

header #title{
    font-family: 'Arial';
    color: #555;
    font-size: 18px;
}

#version{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}


/****
Nav
*****/

#filters{
    position: fixed;
    z-index: 5000;
    left: 0;
    height: calc(100vh - 40px);
    top: 40px;
    background: #cdcdcd;
    color: #555;
    width: 15vw;
}

/****
Content
*****/

#content-container{
}

#content{
    box-sizing: border-box;
    margin-top: 40px;
    margin-left: 15vw;
    display: inline-block;
    width: 85vw;
    position: relative;
}

#content img{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 85vw;
    height: auto;
}

.base-color{
    color: #57934d;
}

.rotg-color{
    color: #5e6cc3;
}

#content .additional{
    display: none;
}

/****
Footer
*****/



